<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Xtreme Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../../assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
	
	<link href="css/nik-index.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	<script src="js/main.js"></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body ng-app="myApp" ng-controller="lightBillCtrl" ng-init="bill_status_detail()">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar nik-topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                             <!-- dark Logo text -->
                             <img src="../../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                             <!-- Light Logo text -->    
                             <img src="../../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar nik-left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic"><img src="../../assets/images/users/1.jpg" alt="users" class="rounded-circle" width="40" /></div>
                                <div class="user-content hide-menu m-l-10">
                                    <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium">{{adminName}}</h5>
										<h5 class="m-b-0 user-name font-medium nik-logout" onclick="logout()" style="color:white">Logout</h5>
                                        <!-- <span class="op-5 user-email"></span> -->
                                    </a>
             
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                        <!-- User Profile-->
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false"><i class="mdi mdi-account-location"></i><span class="hide-menu">Profile</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="members.html" aria-expanded="false"><i class="mdi mdi-account-multiple-outline"></i><span class="hide-menu">Members</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="management.html" aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">Management</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="accounts.html" aria-expanded="false"><i class="mdi mdi-coin"></i><span class="hide-menu">Accounts</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="complain.html" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Complain</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="events.html" aria-expanded="false"><i class="mdi mdi-cake-variant"></i><span class="hide-menu">Events</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="message.html" aria-expanded="false"><i class="mdi mdi-message-text"></i><span class="hide-menu">Message</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="room_details.html" aria-expanded="false"><i class="mdi mdi-home"></i><span class="hide-menu">Room Details</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="visitors.html" aria-expanded="false"><i class="mdi mdi-walk"></i><span class="hide-menu">Visitors</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="society_details.html" aria-expanded="false"><i class="mdi mdi-folder"></i><span class="hide-menu">Society Details</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="vehicles.html" aria-expanded="false"><i class="mdi mdi-car"></i><span class="hide-menu">Vehicles</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="serviceman.html" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Serviceman</span></a></li>
                        
                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
		
		
		<!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper nik-content">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">{{bname}}Accounts</h4>
                        <!--div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div-->
                    </div>
                    <div class="col-7">
                        <div class="text-right upgrade-btn">
                            <!--a href="#" class="btn btn-danger text-white" target="_blank">Upgrade to Pro</a-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
				
				
				<!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                
								<form name="f2" ng-submit="update_bill()">
                                <div class="row">
									
									<div class="col-md-12">
									<label class="col-sm-12"><b style="font-size:17px;">Bill Status</b></label>
									</div>
									
								<div class="col-md-12">
								<div class="col-md-12">
								<table ng-repeat="x in member">
									<tr>
										<td class="nik-pro-head">Name :- </td>
										<td class="nik-pro-data">{{x.name}}</td>
									</tr>
									<tr>
										<td class="nik-pro-head">Room No :- </td>
										<td class="nik-pro-data">{{x.roomNo}}</td>
									</tr>
									<tr>
										<td class="nik-pro-head">Contact No :- </td>
										<td class="nik-pro-data">{{x.contact}}</td>
									</tr>
								</table>
								
                            
                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Month</th>
                                            <th scope="col">Paid Amt</th>
											<th scope="col">Date</th>
                                            <th scope="col">Year</th>
											<th scope="col" ng-show="updateFlag==1"></th>
                                        </tr>
                                    </thead>
									
									<tbody>
                                        <tr ng-repeat="x in bill_details" class="nik-mem-list">
                                            <th scope="row">
												<span>{{$index+1}}</span>
											</th>
											<td scope="row">
												<span ng-show="updateFlag==0">{{x.month}}</span>
												<span ng-show="updateFlag==1">
													<select class="form-control form-control-line" ng-model="x.month">
														<option ng-selected="x.month == 'JAN'">JAN</option>
														<option ng-selected="x.month == 'FEB'">FEB</option>
														<option ng-selected="x.month == 'MAR'">MAR</option>
														<option ng-selected="x.month == 'APR'">APR</option>
														<option ng-selected="x.month == 'MAY'">MAY</option>
														<option ng-selected="x.month == 'JUN'">JUN</option>
														<option ng-selected="x.month == 'JUL'">JUL</option>
														<option ng-selected="x.month == 'AUG'">AUG</option>
														<option ng-selected="x.month == 'SEP'">SEP</option>
														<option ng-selected="x.month == 'OCT'">OCT</option>
														<option ng-selected="x.month == 'NOV'">NOV</option>
														<option ng-selected="x.month == 'DEC'">DEC</option>
													</select>
												</span>
											</td>
											<td scope="row">
												<span ng-show="updateFlag==0">{{x.paidAmt}}</span>
												<span ng-show="updateFlag==1"><input class="form-control form-control-line ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="x.paidAmt" value="{{x.paidAmt}}" required></span>
											</td>
											<td scope="row">
												<span ng-show="updateFlag==0">{{x.dateOfPay}}</span>
												<span ng-show="updateFlag==1"><input class="form-control form-control-line ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="x.dateOfPay" value="{{x.dateOfPay}}" required></span>
											</td>
											<td scope="row">
												<span ng-show="updateFlag==0">{{x.year}}</span>
												<span ng-show="updateFlag==1"><input class="form-control form-control-line ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="x.year" value="{{x.year}}" required></span>
											</td>
											<td ng-show="updateFlag==1"><i class="mdi mdi-delete" ng-click="delete_bill(x.id)"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
								
								<div id="update_but" class="form-group">
									<div class="col-sm-12 row">
										<button class="btn btn-success">Update</button>
									</div>
								</div>
                            
								<div class="form-group nik-suc" id="success">
								<div class="col-sm-12 row">
									<font class="btn nik-success nik-acc-but">Success</font>
								</div>
								</div>
								
								<div class="form-group nik-fail" id="failed">
								<div class="col-sm-12 row">
									<font class="btn nik-failure nik-acc-but">Failed</font>
								</div>
								</div>
								
								</div>
								</div>
								
                                </div>
                            
								</form>
							</div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
				
				
				
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by AVNN Technologies. Designed and Developed by <a href="#">AVNN Technologies</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
		
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../../dist/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>